.leaflet-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
pop-width {
  width: 100px;
}
body {
  margin: 0px;
  padding: 0px;
}
.blinking-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(254, 25, 25);
  animation: blink 1s infinite;
  box-shadow: 2px 2px 2px #333;
  padding: 3px;
}

.blinking-marker-selected {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(247, 255, 7);
  animation: blink 0.3s infinite;
  box-shadow: 2px 2px 2px #333;
  padding: 7px;
}
.blinking-marker-legend {
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(254, 25, 25);
  animation: blink 1s infinite;
  box-shadow: 2px 2px 2px #333;
  padding: 0px;
  margin-left: 30px;
}

.blinking-marker-selected-legend {
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(247, 255, 7);
  animation: blink 0.3s infinite;
  box-shadow: 2px 2px 2px #333;
  padding: 2px;
  margin-left: 20px;
  margin-top: 10px;
}
.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: blue;
  box-shadow: 2px 2px 2px #333;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.leaflet-marker-icon.blinking {
  animation: blink 1s infinite;
}

.legend {
  width: 150px;
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 5px;
}
.legendd {
  width: 20%;
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 5px;
}
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
