@tailwind base;
@tailwind components;
@tailwind utilities;
.leaflet-tooltip{
    background-color: rgba(255, 255, 255, 0) !important ;
    color: rgb(46, 5, 255) !important;
    padding-left: 1px! important;
    padding-right: 1px! important;
    max-height: 15px !important ;
    border-radius: 0px !important;
    text-align: start;
    box-shadow: 0 0px px rgba(16, 32, 183, 0.505)! important; 
    opacity: 0.9 !important ;
  /* -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; */
          z-index: 1000;
}

.ward-label {
    padding: 0px ! important;
    /* background-color: rgba(217, 113, 113, 0.9); */
    /* border-radius: 50%; */
     font-size: 7px;
    /* width: 50px;
    height: 50px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    max-height: 25px;
    
    pointer-events: none;
    max-width: 25px;
    /* max-height: 10px */
  }
  /* .leaflet-tooltip .ward-label {
    background-color: rgba(192, 65, 65, 0.8);
    font-size: 5px;
    border: none;
    border-radius: 55%;
    color: #c92525;
    font-size: 12px;s
    padding: 1px;
    white-space: nowrap;
    z-index: -9999;
    max-height: 25px;
    pointer-events: none;
    max-width: 25px;
  } */

/* .leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    color:red;
    font-size: 12px;
    padding: 5px;
    border:2px;
  }  */
  /* .marker-cluster{
  background: red !important;
  } */
.marker-cluster-small{
    background-color: #fff;
    border-radius: 50%;
    width:5px;
    height: 5px ;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center !important;
    color: #333;
    font-size: 14px;
    font-weight: bold !important;
    line-height: 29px;
    cursor: pointer;
    /* border: 0px solid #9f2222; */
    box-shadow: 1 1px 1x rgba(16, 32, 183, 0.505)! important; 
  }


  .marker-cluster-custom {
    background: #c50101;
    border: 1px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 30px;
    text-align: center;
    width: 40px;
    animation: pulse 1s ease-in-out infinite;
    box-shadow: 0 0 10px rgba(255, 22, 22, 0.5);

  }
  
  @keyframes pulse {
    0% {
      /* opacity: 0.2; */
      /* transform: scale(1); */
      box-shadow: 0 0 10px rgba(193, 19, 19, 0.5);
    }
    20% {
        /* opacity: 0.3; */
        box-shadow: 0 0 20px rgba(251, 11, 11, 0.7);
        /* transform: scale(1); */
      }
    30% {
        /* opacity: 0.4; */
        /* transform: scale(1); */
        box-shadow: 0 0 10px rgba(255, 7, 7, 0.77);
      }
    50% {
      /* opacity: .5; */
      /* transform: scale(1.2); */
      box-shadow: 0 0 20px rgba(212, 115, 115, 0.7);
    }
    100% {
      /* opacity: 0.6; */
      box-shadow: 0 0 20px rgba(255, 22, 22, 0.7);
      /* transform: scale(1); */
    }
  }
  

  .marker-fire{
    
    width: 10px;
    height: 10px;
    border-radius: 50%;
 border: 2px solid black; 
    background: rgb(237, 12, 12);
     animation: pulse .5s infinite; 
    box-shadow: 2px 2px 2px #333;
    padding: 3px;
  }
   
  @keyframes pulse {
    0% {
      /* opacity: 0.2; */
      /* transform: scale(1); */
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.854);
      width: 11px;
    height: 11px;
    border:1px
   
    }
    20% {
        /* opacity: 0.3; */
        box-shadow: 0 0 20px rgb(251, 11, 11);
        /* transform: scale(1); */
      }
    30% {
        /* opacity: 0.4; */
        /* transform: scale(1); */
        box-shadow: 0 0 10px rgb(255, 7, 7);
      }
    50% {
      /* opacity: .5; */
      /* transform: scale(1.2); */
      box-shadow: 0 0 20px rgb(212, 115, 115);
    }
    100% {
      /* opacity: 0.6; */
      box-shadow: 0 0 20px rgb(255, 22, 22);
      /* transform: scale(1); */
    }
  }

  
  .marker-flood{
    
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black; 
    background: rgb(27, 12, 237);
     animation: pulse2 .5s infinite; 
    box-shadow: 2px 2px 2px #333;
    padding: 3px;
  }
   
  @keyframes pulse {
    0% {
      /* opacity: 0.2; */
      /* transform: scale(1); */
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.854);
      width: 11px;
    height: 11px;
    border:1px
   
    }
    20% {
        /* opacity: 0.3; */
        box-shadow: 0 0 20px rgb(251, 11, 11);
        /* transform: scale(1); */
      }
    30% {
        /* opacity: 0.4; */
        /* transform: scale(1); */
        box-shadow: 0 0 10px rgb(255, 7, 7);
      }
    50% {
      /* opacity: .5; */
      /* transform: scale(1.2); */
      box-shadow: 0 0 20px rgb(212, 115, 115);
    }
    100% {
      /* opacity: 0.6; */
      box-shadow: 0 0 20px rgb(255, 22, 22);
      /* transform: scale(1); */
    }
  }
  @keyframes pulse2 {
    0% {
      /* opacity: 0.2; */
      /* transform: scale(1); */
      box-shadow: 0 0 10px rgba(64, 0, 255, 0.854);
      width: 11px;
    height: 11px;
    border:1px
   
    }
    20% {
        /* opacity: 0.3; */
        box-shadow: 0 0 20px rgb(11, 123, 251);
        /* transform: scale(1); */
      }
    30% {
        /* opacity: 0.4; */
        /* transform: scale(1); */
        box-shadow: 0 0 10px rgb(7, 52, 255);
      }
    50% {
      /* opacity: .5; */
      /* transform: scale(1.2); */
      box-shadow: 0 0 20px rgb(11, 4, 52);
    }
    100% {
      /* opacity: 0.6; */
      box-shadow: 0 0 20px rgb(22, 208, 255);
      /* transform: scale(1); */
    }
  }