@tailwind base;
@tailwind components;
@tailwind utilities;
.leaflet-tooltip{
    background-color: rgba(255, 255, 255, 0.016) !important ;
    color: rgb(78, 50, 218) !important;
    padding: 2px! important;
    max-height: 15px !important ;
    border-radius: 5px !important;
}

.ward-label {
    padding: 0px;
    /* background-color: rgba(217, 113, 113, 0.9); */
    /* border-radius: 50%; */
     font-size: 7px;
    /* width: 50px;
    height: 50px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    max-height: 25px;
    
    pointer-events: none;
    max-width: 25px;
    /* max-height: 10px */
  }
  /* .leaflet-tooltip .ward-label {
    background-color: rgba(192, 65, 65, 0.8);
    font-size: 5px;
    border: none;
    border-radius: 55%;
    color: #c92525;
    font-size: 12px;s
    padding: 1px;
    white-space: nowrap;
    z-index: -9999;
    max-height: 25px;
    pointer-events: none;
    max-width: 25px;
  } */

/* .leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    color:red;
    font-size: 12px;
    padding: 5px;
    border:2px;
  }  */